body {
    background-color: whitesmoke;
    color: #7c7c7c;
    text-align: center;
    font-family: system-ui;
}

table {
    margin: auto;
}

button {
    background-image: linear-gradient(to right, #ff512f 0%, #f09819 51%, #ff512f 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
    vertical-align: middle;
    cursor: pointer;
}

button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.game-over {
    display: none;
    color: tomato;
    font-size: 40px;
}

.board {
    transform: translate3d(0px, 40px, 0px) perspective(75em) rotateX(10deg) scale(1.2);
    border-radius: 10px;
    border: 5px solid;
    border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    transform: perspective(75em) rotateX(18deg);
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
}

.cell img {
    width: 25px;
}

.floor {
    background-color: rgb(200, 200, 200);
}

.wall {
    background-color: tomato;
}

.portal {
    background: linear-gradient(-45deg, #52eed4, #ffa600, #e946c6, #23c0d5);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}

.stopwatch {
    font-size: x-large;
}

.stats > div {
    display: inline-block;
    padding-inline: 20px;
    padding-block: 5px;
    font-size: large;
}

.collected-balls,
.ball-count,
.stopwatch span {
    color: #c33f00;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
